<form action="">
    <h2>創建角色</h2>
    <div>
      <label for="charactor-name"
        >角色名稱
        <input type="text" id="charactor-name" name="charactor-name" />
      </label>
    </div>
    <div>
      <label for="charactor-love"
        >起始好感度
        <input type="number" id="charactor-love" name="charactor-love" />
      </label>
    </div>
    <label for="charactorimages"
      >立繪
      <input type="text" id="charactorimages" name="charactorimages" />
    </label>
    <div class="add-expression">增加人物表情</div>

    <button>新增人物</button>
  </form>