<form action="">
    <h2>創建場景</h2>
    <div>
      <label for="scene-name"
        >場景名稱
        <input type="text" id="scene-name" name="scene-name" />
      </label>
    </div>

    <label for="sceneimages"
      >圖片
      <input type="text" id="sceneimages" name="sceneimages" />
    </label>
    <div class="add-expression">增加場景時間</div>

    <button>新增場景</button>
 </form>